<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-lg-7 text-end social-media-icons" style="width: 50%; float=left;">
      {% for item in site.data.settings.social %}
        <a class="other" href="{{ item.link }}" class="ms-3 fs-3"><i class="{{ item.icon }}"></i></a>
      {% endfor %}
    </div>
  </div>
  <!-- <div class="row"> -->
  <!--   <div class="col&#45;lg&#45;12 text&#45;end template&#45;ref"> -->
  <!--     <p style="font&#45;size:11px" align="right">Personalized version of <a href="https://github.com/LeNPaul/academic">LeNPaul's template</a>.</p> -->
  <!--   </div> -->
  <!-- </div> -->
</footer>
