<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <!-- <link rel="apple&#45;touch&#45;icon" sizes="152x152" href="{{ site.github.url }}/assets/apple&#45;icon&#45;152x152.png"> -->
  <!-- <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.ico"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
</head>
