<div class="row g-5 mb-5">
  <div>
    <!-- <center> -->
    <!-- <h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Publications</h3> -->
    <!-- </center> -->

    {% if page.title == "Home" %}
      <h3 class="fw-bold">Recent Publications</h3>
      {% for item in site.data.publications.featured %}
        <p>{{ item.name }} <i>{{item.authors}}</i> ({{item.date}}). {{item.shortvenue}} </p>
      {% endfor %}
    {% else %}

    <center><h4 class="pub-type">Forthcoming</h4></center>
      {% assign pubs = site.data.publications.forthcoming | where: "date", "Forthcoming" %}
      <ul>
      {% for pub in pubs %}
      <p>
        <li>
        {{ pub.name }} <i>{{ pub.authors }}</i> {{pub.date}}. {{pub.publication}} {{pub.publisher}} <br />
        {% if pub.type %}
          [<b>{{ pub.type }}</b>]
        {% else %}
          [<b>Conference Paper</b>]
        {% endif %}
          {% if pub.preprint %}
          <br /> <a href="{{pub.preprint}}"><button type='button'>Preprint</button></a>
          {% endif %}
        </li>
      </p>
      {% endfor %}
      </ul>

    {% for year in (2016..2024) reversed %}
    <center><h4 class="pub-type">{{ year }}</h4></center>
      {% assign pubs = site.data.publications.index | where: "date", year  %}
      <ul>
      {% for pub in pubs %}
      <p>
        <li>{{ pub.name }} <i>{{ pub.authors }}</i> {{ pub.date }}. {{ pub.publication }} {{ pub.publisher }} <br />
          [<b>{{ pub.type }}</b>] <br />
          {% if pub.doi %}
          <a href="{{ pub.doi }}" target="_blank"><button type='button'><img src="/assets/img/doi.png" style="width:20px;height:20px;">Paper</button></a>
          {% endif %}
          {% if pub.github %}
          <a href="{{ pub.github }}" target="_blank"><button type='button'><img src="/assets/img/github.png" style="width:20px;height:20px">Code</button></a>
          {% endif %}
          {% if pub.zenodo %}
          <a href="{{ pub.zenodo }}" target="_blank"><button type='button'><img src="/assets/img/zenodo.jpg" style="width:50px;height:20px"></button></a>
          {% endif %}
          <a href="{{ pub.bibtex }}" target="_blank"><button type='button'><img src="/assets/img/bibtex.png" style="width:61px;height:20px"></button></a>
          {% if pub.url %}
            {% unless pub.doi %}
            <a href="{{ pub.url }}" target="_blank"><button type='button'>Paper</button></a>
            {% endunless %}
          {% endif %}
          {% if pub.preprint %}
          <a href="{{ pub.preprint }}" target="_blank"><button type='button'>Preprint</button></a>
          {% endif %}
          {% if pub.video%}
          <a href="{{ pub.video }}" target="_blank"><button type='button'>Video</button></a>
          {% endif %}
      </p>
      {% endfor %}
      </ul>
      {% endfor %}

      <!-- {% for item in site.data.publications.index %} -->
      <!-- <p> -->
      <!--   {{ item.name }} <i>{{ item.authors }}</i> {{item.date}}. {{item.publication}} {{item.publisher}} <br /> -->
      <!--   <a href="{{ item.url }}"> [Published]</a> <a href="{{ item.preprint }}">[Preprint]</a> -->
      <!-- </p> -->
      <!-- {% endfor %} -->
    {% endif %}
  </div>
</div>
