<div class="row g-5 mb-5">
  <div>
      <center><h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Community & Professional Service</h3></center>
      <p>
        <ul>
        {% for position in site.data.service.elected %}
          <li>
            {{ position.position }},
            {% if position.area %}
              ({{ position.area }})
            {% endif %}
            {{ position.venue }} ({{ position.year }}) <br />
            {% if event.webpage %}
              <a href=" {{event.webpage }}">{{ event.abbrev }}</a>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </p>
  </div>
  <div>
    <center><h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Events Organised</h3></center>
    <p>
    {% for event in  site.data.service.organisation %}
      {{ event.title }} ({{ event.year }}) | {{ event.venue }} <br />
      [<b>{{ event.type }}</b>]
      {% if event.webpage %}
        <a href=" {{event.webpage }}">{{ event.abbrev }}</a>
      {% endif %}
    </p>
    {% endfor %}
  </div>
  <div>
    <!-- <center> -->
    <!-- <h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Publications</h3> -->
    <!-- </center> -->
      <center><h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Reviewing</h3></center>
      {% assign types = "Journal,Conference,Workshop,Ethics Review" | split: "," %}
      {% for type in types %}
      <div class="review">
        <h4 class="pub-type">{{ type }}</h4>
        {% assign reviews = site.data.service.reviewing | where: "type", type %}
        <p>
        {% for review in reviews %}
          {% if type == 'Journal' %}
            {% if forloop.first %}
              {{ review.venue }}
            {% else %}
               &#183; {{ review.venue }}
            {% endif %}
          {% else %}
            {% if forloop.first %}
            {{ review.venue }} (<b>{{ review.abbrev }}</b>, {{ review.years }})
            {% else %}
              {% if review.abbrev %}
                &#183; {{ review.venue }} (<b>{{ review.abbrev }}</b>, {{ review.years }})
              {% else %}
               &#183; {{ review.venue }} ({{ review.years }})
             {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        </p>
      </div>
      {% endfor %}
  </div>
  <div>
      <center><h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Awards & Grants</h3></center>
    {% for award in site.data.service.awards%}
      <p>
        <b>{{ award.title }}</b> |
        {% if award.type == "Grant" %}
          {{ award.grant_title }}, {{ award.year}}
        {% else %}
          {{award.year}}
        {% endif %}
        <br />
        <i>{{ award.venue }}</i>
      </p>
    {% endfor %}
  </div>
</div>
