<div class="row g-5 mb-5">
  <div style="width: 50%; float: left;">
      <center><h4 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Conferences</h3></center>
      <p>
        <ul>
          {% assign positions = site.data.service.elected | where: "type", "AC"  %}
          {% for position in positions %}
          <li style="list-style-type: none; margin:0; margin-bottom: 5px;">
            {% if position.area %}
              <b>{{ position.position }} ({{ position.area }}) </b> |
            {% else %}
              <b>{{ position.position }}</b> |
            {% endif %}
            <b><i>{{ position.venue }}</i></b> | {{ position.year }}  <br />
          </li>
        {% endfor %}
        </ul>
      </p>
  </div>
  <div style="width: 50%; float: left;">
      <center><h4 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Board & Committees</h3></center>
      <p>
        <ul>
          {% assign positions = site.data.service.elected | where: "type", "Board" %}
          {% for position in positions %}
          <li style="list-style-type: none; margin:0; margin-bottom: 5px;">
            <b>{{ position.position }} | <i>{{ position.venue }}</i> </b>| {{ position.year }} <br />
            {% if event.webpage %}
              <a href=" {{event.website }}">{{ event.abbrev }}</a>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </p>
  </div>
  <div>
    <center><h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Events Organised</h3></center>

    {% assign event_types =
    "Conference:#9c27b0,Workshop:#008000,CRAFT Session:#4caf50,Panel:#009688,Roundtable:#0093af,Special Session:#006994,Tutorial:#062a78" | split: "," %}
  <div id="pub-type-legend" style="margin-bottom: 20px;">
    <center>
    {% for entry in event_types %}
    {% assign parts = entry | split: ":" %}
    {% assign event_type = parts[0] %}
    {% assign color = parts[1] %}
      <span style="display: inline-block; width: 12px; height: 12px; background: {{ color }}; margin-left: 10px; margin-right: 5px"></span>
      {{ event_type }}
    </a>
    {% endfor %}
    </center>
  </div>

    <p>
      <ul>
        {% assign events = site.data.service.organisation %}
        {% for event in events %}
          {% assign event_color = "#999" %}
          {% for entry in event_types %}
            {% assign pair = entry | split: ":" %}
            {% if pair[0] == event.type %}
              {% assign event_color = pair[1] %}
            {% endif %}
          {% endfor %}

        <li style="list-style-type: none; margin:0; margin-bottom: 10px;">
          <span style="display: inline-block; width: 12px; height: 12px; background: {{ event_color }}; margin-right: 5px;"></span>
          <b>{{ event.title }}</b> | {{ event.year }} | {{ event.venue }} | <i>{{event.collabs }}</i>
        {% if event.webpage %}
        | <a href=" {{event.webpage }}">{{ event.abbrev }}</a>
        {% endif %}
        </li>
        {% endfor %}
    </p>
    </ul>
  </div>
  <div>
    <!-- <center> -->
    <!-- <h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Publications</h3> -->
    <!-- </center> -->
      <center><h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Reviewing</h3></center>
      {% assign types = "Journal,Conference,Workshop,Ethics Review" | split: "," %}
      {% for type in types %}
      <div class="review">
        <h4 class="pub-type">{{ type }}</h4>
        {% assign reviews = site.data.service.reviewing | where: "type", type %}
        <p>
        {% for review in reviews %}
          {% if type == 'Journal' %}
            {% if forloop.first %}
              {{ review.venue }}
            {% else %}
               &#183; {{ review.venue }}
            {% endif %}
          {% else %}
            {% if forloop.first %}
            {{ review.venue }} (<b>{{ review.abbrev }}</b>, {{ review.years }})
            {% else %}
              {% if review.abbrev %}
                &#183; {{ review.venue }} (<b>{{ review.abbrev }}</b>, {{ review.years }})
              {% else %}
               &#183; {{ review.venue }} ({{ review.years }})
             {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        </p>
      </div>
      {% endfor %}
  </div>
  <div>
      <center><h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Awards & Grants</h3></center>
    {% for award in site.data.service.awards%}
      <p>
        <b>{{ award.title }}</b> |
        {% if award.type == "Grant" %}
          {{ award.grant_title }}, {{ award.year}}
        {% else %}
          {{award.year}}
        {% endif %}
        <br />
        <i>{{ award.venue }}</i>
      </p>
    {% endfor %}
  </div>
</div>
