<div class="row g-5 mb-5">
  <div>
    <!-- <center> -->
    <!-- <h3 class="fw&#45;bold border&#45;bottom pb&#45;3 mb&#45;5">Publications</h3> -->
    <!-- </center> -->
    {% for year in (2017..2024) reversed %}
      <center><h4 class="pub-type">{{ year }}</h4></center>
      {% assign talks = site.data.talks.index | where: "year", year %}
      <ul>
      {% for talk in talks %}
      <p>
        <li>{{talk.name}}
          {% if talk.note %}
          {{talk.note}}
          {% endif %}
          | <i>{{ talk.host }}</i> | {{ talk.month }}, {{ talk.year }} <br>
          [<b>{{ talk.type }}</b>] 
          {% if talk.slides %}
          <a href=" {{talk.slides }} ">[Slides]</a>
          {% endif %}
          {% if talk.recording %}
          <a href=" {{talk.recording }}">[Recording]</a>
          {% endif %}
        </li>
        </p>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
