<div class="row g-5 mb-5">
  <div>
    {% assign types = "Course,Lecture,Teaching Assistant,Practicals" | split: "," %}
    {% for type in types  %}
      <center><h4 class="pub-type">{{ type }}</h4></center>
      <ul>
      {% assign courses = site.data.teaching.index | where: "type", type %}
      {% for course in courses %}
      <p>
        {% if type != "Course" %}
          <li> <b>{{ course.title }}</b> | <i>{{ course.course }}, {{ course.institution }}</i> | {{ course.month }}, {{ course.year }} <br>
        {% else %}
          <li> <b>{{ course.course }}</b> | {{ course.institution }}</i> | {{ course.sem}} | {{ course.year }} <br>
        {% endif %}
          {% if course.slides %}
            <a href=" {{course.slides }} ">[Slides]</a>
          {% endif %}
        </li>
        </p>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
