<div class="row g-5 mb-5">
  <div>
    {% assign types = "Lecture,Teaching Assistant,Practicals" | split: "," %}
    {% for type in types  %}
      <center><h4 class="pub-type">{{ type }}</h4></center>
      <ul>
      {% assign courses = site.data.teaching.index | where: "type", type %}
      {% for course in courses %}
      <p>
        <li> {{ course.title }} | <i>{{ course.course }}, {{ course.institution }}</i> | {{ course.month }}, {{ course.year }} <br>
          [<b>{{ course.type }}</b>]
          {% if course.slides %}
            <a href=" {{course.slides }} ">[Slides]</a>
          {% endif %}
        </li>
        </p>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
