@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@200;400&display=swap');
$backgroundColor: #ffffff;
$bodyColor: #000000;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #101112; // !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 200;
}

body a {
  color: $linkColor
}

header {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: "Crimson Text";
  font-size: 16px;
}

review {
  background: $backgroundColor;
  color: $bodyColor;
  float: left;
  width: 22%;
}

.styled_button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  color: #2a7ae2;
}

.styled_button:hover {
  border-radius: 4px;
  background-color: #eaf0fc;
}

.bibtex-box {
  display: none;
  background: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  font-size: 0.85em;
  white-space: pre;
  overflow-x: auto; /* 👈 enables scroll */
  margin-top: 0.5em;
}


.bibtex-toggle {
  color: #2a7ae2;
  cursor: pointer;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 4px;
}
