---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
        <p class="fw-bold"><b>{{ section.degree }} {{section.course }}</b> </p>
          <p>{{ section.university }}, {{section.gradyear}}</p>
          {% if section.thesis  %}
          <p>Thesis: <a href="{{ section.thesis }}">{{section.title }}</a></p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.work %}
          <p class="fw-bold">{{ section.position}} | {{section.institution }}</p>
          <p><i>{{ section.start }} - {{ section.end }}</i></p>
          <p>{{ section.loc }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
