---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="70%" height="70%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
    <ul>
    {% for post in site.data.news.items %}
    <li>
      <u>{{ post.date }}</u> | {{ post.headline }}
      {% if post.title %}
        {% if post.link %}
          <a href="{{ post.link }}">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      {% endif %}
    </li>
    {% endfor %}
    </ul>
  </div>
</div>
